$o-brand-odoo: #ffffff;
$o-navbar-background: #ffffff;
$o-navbar-entry-color: #374151;
$o-navbar-entry-color--hover: #111827;
$o-navbar-entry-bg--hover: rgba(0, 0, 0, 0.05);
$o-navbar-brand-color: #374151;
