$o-brand-odoo: #1f1f1f;
$o-navbar-background: #1f1f1f;
$o-navbar-entry-color: rgba(255, 255, 255, 0.82);
$o-navbar-entry-color--hover: rgba(255, 255, 255, 1);
$o-navbar-entry-bg--hover: rgba(255, 255, 255, 0.08);
$o-navbar-brand-color: rgba(255, 255, 255, 0.82);
